# dependencies
/node_modules
node_modules/

# environment
.env
.dev.vars
.env*.local

# cloudflare
.wrangler/
/dist/
/worker/

# IDE & System
.DS_Store
*.log

# Database
/database/backups
backup/

# Build
*.tsbuildinfo
/dist
/workers/api/dist