/* Masaüstünde sol menü genişliği kadar padding */
@media (min-width: 992px) {
    body {
        padding-left: 200px;
    }
    .ms-lg-200 {
        margin-left: 200px;
    }
}

/* Mobilde üst header yüksekliği kadar padding */
@media (max-width: 991.98px) {
    body {
        padding-top: 60px;
    }
    .ms-lg-200 {
        margin-left: 0 !important;
    }
}
